[color]
	ui = true
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	graph = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(white)― %an%C(reset)' --abbrev-commit
	unstage = reset HEAD --
[push]
	default = simple
[user]
	name = Takenoko
	email = ttaakkee@gmail.com
