*
  box-sizing: border-box

font-size = 10pt
margin-top-bottom = 1in
margin-left-right = 1in
a4-width = 210mm
threshold-width = unit((a4-width / font-size) * 1.1, 'rem')

:root
  @media screen
    @media (min-width: threshold-width)
      font-size: 16px
    @media (max-width: threshold-width)
      font-size: 14px

  @media print
    font-size: font-size

@media print
  @page
    size: A4
    margin: margin-top-bottom margin-left-right

  img, pre, blockquote, table, figure
    page-break-inside: avoid

  hr
    page-break-after: always
    visibility: hidden
    margin: 0
    padding: 0
    border: 0
    height: 0

body
  background-color: #fff
  color: #333
  font-family: "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  line-height: 1.5
  word-wrap: break-word
    
  @media screen
    @media (min-width: threshold-width)
      width: unit(a4-width / font-size, 'rem')
      margin: 0.5rem auto
      padding: unit(margin-top-bottom / font-size, 'rem') unit(margin-left-right / font-size, 'rem')
      box-shadow: 0 0 0 1px #ddd, 0 0 0 4px #eee
      border-radius: 0.5rem

    @media (max-width: threshold-width)
      padding: 4rem 1rem

  @media print
    width: a4-width - margin-left-right * 2
    color: #000

main
  overflow: hidden

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0

a
  color: #47c

img
  max-width: 100%

p
  margin: 1em 0


h1, h2, h3, h4, h5, h6
  font-weight: bold
  margin-top: 1em
  margin-bottom: 1rem

heading-base = 1.2

h1
  font-size: (heading-base ** 4)rem
  border-bottom: 1px solid #ddd
  padding-bottom: 0.5rem

  @media print
    border-color: #ccc

h2
  font-size: (heading-base ** 3)rem
  border-bottom: 1px solid #ddd
  padding-bottom: 0.5rem

  @media print
    border-color: #ccc

h3
  font-size: (heading-base ** 2)rem

h4
  font-size: (heading-base ** 1)rem

h5
  font-size: (heading-base ** 0)rem

h6
  font-size: (heading-base ** 0)rem


blockquote
  padding: 0 1rem
  color: #777
  border-left: 4px solid #ddd
  margin: 1rem 0

  @media print
    color: #555
    border-color: #bbb

  & > :first-child
    margin-top: 0

  & > :last-child
    margin-bottom: 0

ul, ol
  padding-left: 2rem

table
  margin: 1rem 0
  border-collapse: collapse

  tr
    background-color: #fff
    border-top: 1px solid #ccc

    &:nth-child(2n)
      background-color: #f8f8f8

  th, td
    border: 1px solid #ccc
    padding: 0.4rem 0.8rem

  th
    font-weight: bold

hr
  border: none
  border-top: 1px solid
  color: #ddd
  padding: 0
  margin: 2rem 0

dl
  margin-top: 1rem
  dt
    text-decoration: underline #333

  dd
    margin-left: 2rem

pre, code, pre *
  font-family: "Consolas", "Menlo", "monospace"
  overflow-wrap: normal
  word-break: keep-all
  white-space: pre
  overflow: scroll !important
  text-overflow: ellipsis

pre, code
  font-size: 0.7rem
  background-color: #f8f8f8
  border: 1px solid #ddd

  @media print
    background-color: #eee
    border-color: #ccc

code
  border-radius: 0.2rem
  padding: 0.1rem 0.2rem

pre
  border-radius: 0.4rem
  padding: 0.7rem

  & > code
    padding: 0
    border: 0

  & > span.kw { color: #a26; } // Key Word
  & > span.dt { color: #08b; } // Data Type
  & > span.dv { color: #08b; } // Decimal Value
  & > span.bn { color: #08b; } // BaseNTok
  & > span.fl { color: #08b; } // Float
  & > span.ch { color: #239; } // Char
  & > span.st { color: #239; } // String
  & > span.co { color: #9a9; } // Comment
  & > span.ot { color: #86a; } // Other Token
  & > span.al { color: #f00; font-weight: bold; } // Alert
  & > span.fu { color: #a26; } // Function
  & > span.er { color: #f00; font-weight: bold; } // Error


