* {
  box-sizing: border-box;
}
@media print {
  :root {
    font-size: 10pt;
  }
}
@media screen and (min-width: 65.48031496062993rem) {
  :root {
    font-size: 16px;
  }
}
@media screen and (max-width: 65.48031496062993rem) {
  :root {
    font-size: 14px;
  }
}
@media print {
  @page {
    size: A4;
    margin: 1in 1in;
  }
  img,
  pre,
  blockquote,
  table,
  figure {
    page-break-inside: avoid;
  }
  hr {
    page-break-after: always;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    height: 0;
  }
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  word-wrap: break-word;
}
@media print {
  body {
    width: 159.2mm;
    color: #000;
  }
}
@media screen and (min-width: 65.48031496062993rem) {
  body {
    width: 59.52755905511811rem;
    margin: 0.5rem auto;
    padding: 7.199999999999999rem 7.199999999999999rem;
    box-shadow: 0 0 0 1px #ddd, 0 0 0 4px #eee;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 65.48031496062993rem) {
  body {
    padding: 4rem 1rem;
  }
}
main {
  overflow: hidden;
}
main > :first-child {
  margin-top: 0;
}
main > :last-child {
  margin-bottom: 0;
}
a {
  color: #47c;
}
img {
  max-width: 100%;
  display: block;
}
p {
  margin: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.460375rem;
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.5rem;
}
@media print {
  h1 {
    border-color: #aaa;
  }
}
h2 {
  font-size: 1.8225rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
}
@media print {
  h2 {
    border-color: #ccc;
  }
}
h3 {
  font-size: 1.8225rem;
}
h3::before {
  content: "■";
  color: #666;
  font-size: 3rem;
  margin-right: 0.5rem;
}
h4 {
  font-size: 1.35rem;
}
h4::before {
  content: "●";
  color: #555;
  margin-right: 0.5rem;
}
h5 {
  font-size: 1.35rem;
  margin-left: 0.5rem;
}
h6 {
  font-size: 1rem;
  margin-left: 1rem;
  color: #333;
}
blockquote {
  padding: 0 1rem;
  color: #777;
  border-left: 4px solid #ddd;
  margin: 1rem 0;
}
@media print {
  blockquote {
    color: #555;
    border-color: #bbb;
  }
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 2rem;
}
table {
  margin: 1rem 0;
  border-collapse: collapse;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 0.4rem 0.8rem;
}
table th {
  font-weight: bold;
}
hr {
  border: none;
  border-top: 1px solid;
  color: #ddd;
  padding: 0;
  margin: 2rem 0;
}
dl {
  margin-top: 1rem;
}
dl dt {
  text-decoration: underline #333;
}
dl dd {
  margin-left: 2rem;
}
pre,
code,
pre * {
  font-family: "Consolas", "Menlo", "monospace";
  overflow-wrap: normal;
  word-break: keep-all;
  white-space: pre;
  overflow: scroll !important;
  text-overflow: ellipsis;
}
pre,
code {
  font-size: 0.7rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}
@media print {
  pre,
  code {
    background-color: #eee;
    border-color: #ccc;
  }
}
code {
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
}
pre {
  border-radius: 0.4rem;
  padding: 0.7rem;
}
pre > code {
  padding: 0;
  border: 0;
}
pre > span.kw {
  color: #a26;
}
pre > span.dt {
  color: #08b;
}
pre > span.dv {
  color: #08b;
}
pre > span.bn {
  color: #08b;
}
pre > span.fl {
  color: #08b;
}
pre > span.ch {
  color: #239;
}
pre > span.st {
  color: #239;
}
pre > span.co {
  color: #9a9;
}
pre > span.ot {
  color: #86a;
}
pre > span.al {
  color: #f00;
  font-weight: bold;
}
pre > span.fu {
  color: #a26;
}
pre > span.er {
  color: #f00;
  font-weight: bold;
}
