* {
  box-sizing: border-box;
}
@media print {
  :root {
    font-size: 10pt;
  }
}
@media screen and (min-width: 65.48031496062993rem) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-width: 65.48031496062993rem) {
  :root {
    font-size: 13px;
  }
}
@media print {
  @page {
    size: A4;
    margin: 1in 1in;
  }
  img,
  pre,
  blockquote,
  table,
  figure {
    page-break-inside: avoid;
  }
}
body {
  background-color: #fff;
  color: #111;
  font-family: "Hiragino Mincho ProN";
  font-weight: 300;
  line-height: 1.5;
  word-wrap: break-word;
}
@media print {
  body {
    width: 159.2mm;
    color: #000;
  }
}
@media screen and (min-width: 65.48031496062993rem) {
  body {
    width: 59.52755905511811rem;
    margin: 0.5rem auto;
    padding: 7.199999999999999rem 7.199999999999999rem;
    box-shadow: 0 0 0 1px #ddd, 0 0 0 4px #eee;
    border-radius: 0.5rem;
  }
}
@media screen and (max-width: 65.48031496062993rem) {
  body {
    padding: 4rem 1rem;
  }
}
main {
  overflow: hidden;
}
main > :first-child {
  margin-top: 0;
}
main > :last-child {
  margin-bottom: 0;
}
a {
  color: #47c;
}
figure {
  text-align: center;
  margin: 2rem 0.5rem;
}
figure > img {
  margin: 1rem auto;
}
img {
  max-width: 60%;
  display: block;
  margin: 2rem auto;
}
p {
  margin: 1rem 1rem;
  text-indent: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hiragino Sans";
  font-weight: 500;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
h1 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
h2 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
h3 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
h4 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
h5 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6),
h6 + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  margin-top: 0;
}
h1 {
  font-size: 2.073599999999999rem;
  border-bottom: 1px solid #888;
  color: #000;
}
h2 {
  font-size: 1.728rem;
  border-bottom: 1px solid #aaa;
  color: #111;
}
h3 {
  font-size: 1.44rem;
  color: #222;
}
h3::before {
  content: "";
  display: inline-block;
  background-color: #555;
  height: 0.75em;
  width: 0.75em;
  margin-right: 0.4rem;
  vertical-align: 0.025em;
}
h4 {
  font-size: 1.2rem;
  margin-left: 0.333333333333333rem;
  color: #333;
}
h4::before {
  content: "";
  display: inline-block;
  background-color: #555;
  height: 0.6em;
  width: 0.6em;
  margin-right: 0.6rem;
  vertical-align: 0.1em;
  border-radius: 50%;
}
h5 {
  font-size: 1rem;
  margin-left: 0.666666666666667rem;
  color: #333;
}
h6 {
  font-size: 0.833333333333333rem;
  margin-left: 1rem;
  color: #444;
}
blockquote {
  padding: 0 1rem;
  color: #777;
  border-left: 4px solid #ddd;
  margin: 1rem 0;
}
@media print {
  blockquote {
    color: #555;
    border-color: #bbb;
  }
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 2rem;
  margin: 1rem;
}
ul > :first-child,
ol > :first-child {
  margin-top: 0;
}
ul > :last-child,
ol > :last-child {
  margin-bottom: 0;
}
li {
  margin: 0.5rem 0;
}
li > * {
  margin: 0.5rem 0;
}
li > :not(ul:first-child,
li ol):first-child {
  text-indent: 0;
  margin-top: 0;
}
li > :not(ul:last-child,
li ol):last-child {
  margin-bottom: 0;
}
li > :not(ul:not(:first-child),
li ol):not(:first-child) {
  padding-left: 0.5rem;
}
table {
  margin: 1rem;
  border-collapse: collapse;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 0.4rem 0.8rem;
}
table th {
  font-weight: bold;
}
hr {
  border: none;
  border-top: 1px solid;
  color: #aaa;
  padding: 0;
  margin: 2rem 0;
}
dl {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
dl dt {
  text-decoration: underline #222;
}
dl dd {
  margin-left: 2rem;
}
pre,
code,
pre * {
  font-family: "Courier New";
  overflow-wrap: normal;
  word-break: keep-all;
  white-space: pre;
  overflow: scroll !important;
  text-overflow: ellipsis;
}
pre,
code {
  font-size: 0.9em;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}
@media print {
  pre,
  code {
    background-color: #eee;
    border-color: #ccc;
  }
}
code {
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
  vertical-align: 0.2em;
}
pre {
  border-radius: 0.4rem;
  padding: 0.6rem 0.8rem;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
pre > code {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
pre > span.kw {
  color: #a26;
}
pre > span.dt {
  color: #08b;
}
pre > span.dv {
  color: #08b;
}
pre > span.bn {
  color: #08b;
}
pre > span.fl {
  color: #08b;
}
pre > span.ch {
  color: #239;
}
pre > span.st {
  color: #239;
}
pre > span.co {
  color: #9a9;
}
pre > span.ot {
  color: #86a;
}
pre > span.al {
  color: #f00;
  font-weight: bold;
}
pre > span.fu {
  color: #a26;
}
pre > span.er {
  color: #f00;
  font-weight: bold;
}
section.footnotes a.footnote-back {
  text-decoration: none;
  margin-left: 0.5rem;
}
a.footnote-ref {
  text-decoration: none;
}
a.footnote-ref > sup::before {
  content: "[";
}
a.footnote-ref > sup::after {
  content: "]";
}
